In [15]:
import pandas as pd
from pytrends.request import TrendReq
trends=TrendReq()

In [80]:
keywords=trends.suggestions(keyword="vampire")
data=pd.DataFrame(keywords)
data.shape

(5, 3)

In [81]:
data

             mid                title                   type
0       /m/07yjb              Vampire                  Topic
1     /m/03gq4d1              Vampire                  Topic
2     /m/05sy2k_  The Vampire Diaries  American drama series
3      /m/027llf          Vampire bat                 Animal
4  /g/11bx569zq1               Vampyr             Video game

In [85]:
india=trends.trending_searches(pn="india")
india

                               0
0               Army of the Dead
1                   Rajiv Gandhi
2                     Butter BTS
3          International Tea Day
4                       99 Songs
5                   Gautam Adani
6                  Covid vaccine
7                 FriendsReunion
8                       CoviSelf
9           Burnley vs Liverpool
10                      Mohanlal
11                  Arijit Singh
12      Sandeep Aur Pinky Faraar
13  What is black fungal disease
14                  Coppa Italia
15                    Epic Games
16                        HR Day
17                  Rahul Dravid
18            Lakers vs Warriors
19  Bigg Boss Malayalam Season 3